.side-drawer{
    height: 100vh;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5) ;
    position: fixed;
    display: flex;
    flex-direction: column;
    top:0;
    right: 0;
    width: 40%;
    max-width: 400px;
    z-index: 200;
    overflow-y: auto;
}

.side-drawer a{
    color: #01579b;
    z-index: 200;
    text-decoration: none;
    width: 100%;
}
.side-drawer a:hover,
.side-drawer a:active{
    color: white;
    background: #01579b;
}
.side-drawer ul{
    color: #01579b;
    z-index: 200;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.closer{
    border: none;
    background-color: #01579b;
    align-items: left;
    background: transparent;
    cursor: pointer;
    float: left;
}
