
  
  .main_img{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
  
  .iedc_img{
    margin-top:5em;
    background-repeat:no-repeat;
    height:100%;
    width:100%;
  }
  
  #about_img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .card_design{
    height: 50%;
  }
  
  .announcements_header{
    margin-top:1.5em;
  }
  
  #bottom_margin {
    margin-bottom: 1em;
  }
  
  #top_margin {
    margin-top: 2em;
    bottom: 0;
  }
  
  #box_curve_bottom {
    background-color:rgb(19, 8, 49); /*rgb(159, 85, 85)*/
  }
  
  #box_curve_top {
    background-color: rgb(199, 101, 101);
    padding-top: 0px;
    margin-bottom: 0;
  }

  #announcements_card {
    width: 100%;
    border-radius: 20px;
  }
  
  #center_align {
    text-align: center;
  }
  
  @media only screen and (max-width: 600px) {
    .announcement_header{
      font-size:20px;
      margin-top:30px;
    }
    .message_box{
      margin-top:0%;
    }
    #box_curve_bottom {
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
    }
  
    #box_curve_top {
      border-top-left-radius: 0%;
      border-top-right-radius: 15%;
      padding-top: 40px;
    }
    #centre_mobile {
      text-align: left;
    }
    .mobile_space {
      margin-bottom: 0px;
    }
    .margin_top_mobile {
      margin-top: 0em;
    }
  
    .pos {
      align-self: start;
    }
  
  }
  